@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-image:url(https://images.wallpaperscraft.com/image/single/plane_sky_flying_sunset_64663_1920x1080.jpg); position:center:fixed; background-size:cover; ">


    &nbsp;
    <h1 style="color:black;  font-size:50px;">  <b>AEROPORTUL CHIȘINĂU</b> </h1>
    &nbsp;
    <p>
        <h4 style="color:black"><i>Toate drumurile duc acasă...</i></h4>
        @*Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.*@
    </p>

   
</body>
      
    

